<%
  access_operation||=@access_operation
%>
<div class="views access_operations dl">
  <dl>
    <dt><%=t('ID')%></dt><dd><%=h access_operation.id %></dd>
    <dt><%=t('XID')%></dt><dd><%=h access_operation.xid %></dd>
    <dt><%=t('Name')%></dt><dd><%=h access_operation.name %></dd>
  </dl>
</div>
