<%
  access_role||=@access_role
%>
<div class="views access_roles dl">
  <dl>
    <dt><%=t('ID')%></dt><dd><%=h access_role.id %></dd>
    <dt><%=t('XID')%></dt><dd><%=h access_role.xid %></dd>
    <dt><%=t('Name')%></dt><dd><%=h access_role.name %></dd>
  </dl>
</div>
